<div id="sidebar" class="sidebar-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link create-task-btn"
        href="#"
        data-toggle="modal"
        data-target="#createTaskModal"
      >
        <strong>+</strong> CREATE TASK
      </a>
    </li>
    <hr class="pale-line" />
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('task.active_tasks') }}"
        >Active Tasks</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('task.completed_tasks') }}"
        >Completed Tasks</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('task.all_tasks') }}">All Tasks</a>
    </li>
    <hr class="pale-line" />
    <li class="nav-item">
      <a
        class="nav-link"
        href="{{ url_for('task.priority_tasks', priority='Low') }}"
        >Low Priority</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="{{ url_for('task.priority_tasks', priority='Normal') }}"
        >Normal Priority</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="{{ url_for('task.priority_tasks', priority='High') }}"
        >High Priority</a
      >
    </li>
    <li class="nav-item mt-auto">
      <a class="nav-link logout-btn" href="{{ url_for('auth.logout') }}">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </li>
  </ul>
</div>
