{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <h2>Your Tasks</h2>
  {% if tasks %}
  <ul class="list-group">
    {% for task in tasks %}
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div>
        <strong>{{ task.title }}</strong>
        <p>{{ task.description }}</p>
        <span class="badge badge-primary">{{ task.priority }}</span>
      </div>
      <div>
        <a
          href="{{ url_for('task.update_task', task_id=task.id) }}"
          class="btn btn-warning btn-sm"
          >Edit</a
        >
        <a
          href="{{ url_for('task.delete_task', task_id=task.id) }}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No tasks available.</p>
  {% endif %}
</div>
{% endblock %}
